#################
## General
#################

.idea/*
!.idea/codeStyleSettings.xml
!.idea/projectCodeStyle.xml
!.idea/vcs.xml
*.iml
/android/gen-external-apklibs
*.war
/server/src/main/webapp/
!/server/src/main/webapp/WEB-INF/web.xml




